html {
    height: 100%;
    left:0px;
    right:0px;
    align-content: center;
}


body { 
    font: normal .80em 'Source Sans Pro', sans-serif;
    background: #2f3136;
    color: rgba(255, 255, 255, 0.75);
}

#header {
    background-image: url("../img/Title_PH.png");
    margin-bottom: 18px;
}

.card {
    background-color: #36393e;
    height: 100%;
}

.sportler {
    margin: 12px;
    padding: 12px;
    border-radius: 2px;
    background-color: #1e2124;
}

.sportler .rank {
    opacity: 0.6;
    margin-right: 12px;
}

.sportler .name {
    font-size: 24px;
}

.challenge-option {
    background-color: #1e2124;
    margin: 12px;
    padding: 12px;
}

.card-btn {
    float: right;
    margin-right: 12px;
}

.card-content {
    margin: 12px;
}

span#runner {
    font-size: 24px;
}

.header {
    background-color: #F1F1F1;
    background-image: url("../img/Title_PH.png");
    text-align: center;
    padding: 20px;
    height: 100px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
}

.content {
    position:absolute;
    top: 100px;
    bottom: 75px;
    text-align: left;
}

.footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    position:absolute;
    bottom: 0px;
    height: 35px;
    left:0px;
    right:0px;
    width: 100%;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    height: 50px;
    left:0px;
    right:0px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Button */
.btn {
    display: inline-block;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #666;
    background: #fff;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.btn.blue {
    color: #fff;
    background: #51A9FB;
}
.btn.grey {
    color: black;
    background: lightgrey;
}
.btn.lrg {
    padding: 10px 30px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}
.btn.ultlrg{
    padding: 15px 35px;
    font-size: 21px;
    line-height: 37px;
    font-weight: 600;}


table {
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

.ampel {
    margin: 30px;
    height: 60%;
    border-color: #1b1e21;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

p { padding: 0 0 15px 0;
    line-height: 1.5em;
    margin: 15px 15px 15px 15px;
}

h1, h2, h3, h4, h5, h6
{ font: normal 290% 'Source Sans Pro', arial, sans-serif;
    font-weight: bold;
    color: #eee;
    margin: 15px 15px 15px 15px;
    padding: 5px 0 5px 0;}

h2
{ font: normal 165% 'Source Sans Pro', arial, sans-serif;
    font-weight: bold;
    color: #326a9d;
    padding: 15px 0 5px 0;}

h3
{ font: normal 150% 'Source Sans Pro', arial, sans-serif; font-weight: bold;}

h4, h5, h6
{ margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #326a9d;}

h5, h6
{ font: italic 95% arial, sans-serif;
    color: #888;}

h6
{ color: #362C20;}

a, a:hover
{ background: transparent;
    outline: none;
    text-decoration: underline;
    color: #326a9d;}

a:hover
{ text-decoration: none;
    color: #5D5D5D;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;

    margin-right: 0px;}

.right
{ float: right;
    margin-left: 0px;}

.center
{ display: block;
    text-align: center;
    margin: 0px auto;}