html
{ height: 100%;}


body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
    background: #544;
    color: #fff;}

.header {
    background-color: #F1F1F1;
    background-image: url("../img/Title_PH.png");
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: #e0a800;
    text-align: center;
    padding: 10px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Create three equal columns that floats next to each other */
.col {
    float: left;
    width: 33.33%;
}
/* Middle column */
.col.middle {
    width: 50%;
}

p
{ padding: 0 0 15px 0;
    line-height: 1.5em;
    margin: 15px 15px 15px 15px;
}


h1, h2, h3, h4, h5, h6
{ font: normal 190% 'century gothic', arial, sans-serif;
    font-weight: bold;
    color: #eee;
    margin: 15px 15px 15px 15px;
    padding: 5px 0 5px 0;}

h2
{ font: normal 165% 'century gothic', arial, sans-serif;
    font-weight: bold;
    color: #326a9d;
    padding: 15px 0 5px 0;}

h3
{ font: normal 150% 'century gothic', arial, sans-serif; font-weight: bold;}

h4, h5, h6
{ margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #326a9d;}

h5, h6
{ font: italic 95% arial, sans-serif;
    color: #888;}

h6
{ color: #362C20;}

a, a:hover
{ background: transparent;
    outline: none;
    text-decoration: underline;
    color: #326a9d;}

a:hover
{ text-decoration: none;
    color: #5D5D5D;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}



.left
{ float: left;

    margin-right: 0px;}

.right
{ float: right;
    margin-left: 0px;}

.center
{ display: block;
    text-align: center;
    margin: 0px auto;}