html {
    height: 100%;
    left:0px;
    right:0px;
    align-content: center;
}


body { 
    font: normal .80em 'Source Sans Pro', sans-serif;
    background: #2f3136;
    color: rgba(255, 255, 255, 0.75);
}

#header {
    margin-bottom: 18px;
    background: #1B1C1F;  /* fallback for old browsers */
    position: relative;
    overflow: hidden;
}

#header img {
    position: absolute;
    right: 0;
    top: -20px;
    -webkit-mask-image:-webkit-gradient(linear, left top, bottom top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

span.lag {
    color:#FF8686;
    opacity: 0.75;
    float: right;
    font-size: 14px;
}
span.speed {
    color:#86FF86;
    opacity: 0.75;
    float: right;
    font-size: 14px;
    padding-right: 12px;
}

.card {
    background-color: #36393e;
    height: 100%;
}

.card-block {
    height: 100%;
    margin-bottom: 48px;
}

.subline-input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #737f8d;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-right: 16px;
    z-index: 1;
    line-height: 52px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.subline-input:focus {outline:0;}

.subline-input-wrapper {
    margin: 18px 0;
    position: relative;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
    background-color: hsla(0,0%,100%,.06);
    padding: 0 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 52px;
}

.sportler {
    margin: 18px 12px;
    padding: 12px;
    padding-left: 88px;
    border-radius: 2px;
    background-color: #1e2124;
    position: relative;
    height: 54px;
    line-height: 30px;
}

.sportler .rank {
    opacity: 0.6;
    margin-right: 12px;
    font-size: 14px;    
}

.sportler .name {
    font-size: 24px;
}

.runner-img {
    position: absolute;
    left: 12px;
    top: -4px;
}

.runner-img.challenge {
    background-color: #f04747;
    width: 64px; 
    height: 64px;
    border-radius: 32px;
}

.runner-img img {
    width: 64px; 
    height: 64px;
    border-radius: 32px;
}

.challenge-img img {
    width: 100px; 
    height: 100px;
    border-radius: 50px;
    margin: 12px;
}

.challenge-option {
    background-color: #1e2124;
    margin: 12px 2px;
    padding: 12px;
    cursor: pointer;
    font-size: 24px;
}
.challenge-option.selected {
    background-color: #43494E;
}

.card-btn {
    width: calc(100% - 24px);
    position: absolute;
    left: 12px;
    bottom: 12px;
    border-radius: 3px;
    background-color: #7289da;
    color: #fff;
    font-weight: 500;
}

.card-content {
    margin: 12px;
}

span#runner {
    font-size: 24px;
}

.header {
    background-color: #F1F1F1;
    background-image: url("../img/Title_PH.png");
    text-align: center;
    padding: 20px;
    height: 100px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
}

.content {
    position:absolute;
    top: 100px;
    bottom: 75px;
    text-align: left;
}

.footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    position:absolute;
    bottom: 0px;
    height: 35px;
    left:0px;
    right:0px;
    width: 100%;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    height: 50px;
    left:0px;
    right:0px;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Button */
.btn {
    display: inline-block;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.btn.lrg {
    padding: 10px 30px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}
.btn.ultlrg{
    padding: 15px 35px;
    font-size: 21px;
    line-height: 37px;
    font-weight: 600;}


table {
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

.ampel {
    margin: 30px;
    height: 60%;
    border-color: #1b1e21;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

p { padding: 0 0 15px 0;
    line-height: 1.5em;
    margin: 15px 15px 15px 15px;
}

h1, h2, h3, h4, h5, h6
{ font: normal 290% 'Source Sans Pro', arial, sans-serif;
    font-weight: bold;
    color: #eee;
    margin: 15px 15px 15px 15px;
    padding: 5px 0 5px 0;}

h2
{ font: normal 165% 'Source Sans Pro', arial, sans-serif;
    font-weight: bold;
    color: #326a9d;
    padding: 15px 0 5px 0;}

h3
{ font: normal 150% 'Source Sans Pro', arial, sans-serif; font-weight: bold;}

h4, h5, h6
{ margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #326a9d;}

h5, h6
{ font: italic 95% arial, sans-serif;
    color: #888;}

h6
{ color: #362C20;}

a, a:hover
{ background: transparent;
    outline: none;
    text-decoration: underline;
    color: #326a9d;}

a:hover
{ text-decoration: none;
    color: #5D5D5D;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;

    margin-right: 0px;}

.right
{ float: right;
    margin-left: 0px;}

.center
{ display: block;
    text-align: center;
    margin: 0px auto;}